@page "/HtmlElements"
@using BlazorCanvasDemo.Models
@using BlazorCanvasDemo.Components
@rendermode InteractiveServer

<div style="background-color: mediumslateblue; height: @(_canvasHeight)px; width: @(_canvasWidth)px; position: relative;">
    @foreach(var image in _images)
    {
        <DraggableImage Image="image" CanvasHeight="_canvasHeight" CanvasWidth="_canvasWidth"/>
    }
</div>


@code {
    private double _canvasWidth = 800;
    private double _canvasHeight = 600;

    private List<DraggableImageModel> _images =
    [
        new(){ Source="images/1.jpg", Height=100, Width=100, X = 10, Y = 11, },
        new(){ Source="images/2.jpg", Height=50, Width=50, X = 250, Y = 100, },
        new(){ Source="images/3.jpg", Height=150, Width=150, X = 500, Y = 200, },
    ];
}
